{% extends "layout.html" %}

{%block title%} {{super()}}{%endblock%}
{%block css%} "/static/deskPro.css" {%endblock%}
{%block header%}
    <!--[header]-->
	<header id = "header">
		<div id = "project-name"> NEXT Hide and Desk </div>
	</header>
	<!--/[header]-->
{%endblock%}
{%block main%}	
	<!--[main]-->
		<div id="container">
			<div id="deskImage-container">
					<img id="deskImage" src = "{{ NextDesks }}" >	
			</div>
			<div id="icon-sudo-hover">
				<div id="reload-icon"> </div>
			</div>
		<script>
			
		</script>
		</div>

	<!--/[main]-->
{%endblock%}
{%block footer%}
	<!--[footer]-->
	<footer id="footer"> 
		<div id= "container-cpr">
			made by Kate
			<a href="https://github.com/Kyoo32/NEXT_hide_and_desk"> ... </a>
		</div>
	</footer>
	<!--/[footer]-->
{%endblock%}
{%block javascript%}
	<script type="text/javascript">
	var deskImage = document.getElementById("deskImage")
	var icon = document.getElementById("reload-icon");
	icon.addEventListener("click", function(){
		console.log("why?");
		location.reload();
		console.log("doesn't work");
	});
	</script>
{%endblock%}